@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click on the "Demo" link in the navigation to see the demo of loops and if-else statements.</p>
</div>
